<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Plato</title>
</head>
<body>
<a href="index">Volver al menu</a> <a href="formulario">Crear plato</a> <a href="lista">Menú</a>
    <h1>Formulario para crear un plato</h1>

        <form action="/datos" method="post">

            <p>Nombre del plato:</p>
            <input name="nombre" type="text" placeholder="nombre">

            <p>Precio del plato:</p>
            <input name="precio" type="number" placeholder="precio" step="0.01">

            <p>Elige el tipo de plato</p>
            <select name="tipo">
                <option value="PRIMERO">Primero</option>
                <option value="SEGUNDO">Segundo</option>
                <option value="POSTRE">Postre</option>
            </select>

            <br> <br>

            <p>Elige los ingredientes</p>

            <input type="checkbox" id="ingreidente1" name="ingrediente1" value="tomate">
            <label for="ingreidente1">Sal</label><br>

            <input type="checkbox" id="ingreidente2" name="ingrediente2" value="azucar">
            <label for="ingreidente2">Azucar</label><br>

            <input type="checkbox" id="ingreidente3" name="ingrediente3" value="pasta">
            <label for="ingreidente3">Pasta</label><br>

            <input type="checkbox" id="ingreidente4" name="ingrediente4" value="carne">
            <label for="ingreidente4">Carne</label><br>

            <input type="checkbox" id="ingreidente5" name="ingrediente5" value="nata">
            <label for="ingreidente5">Nata</label><br>

            <input type="checkbox" id="ingreidente6" name="ingrediente6" value="bacon">
            <label for="ingreidente6">Bacon</label><br>

            <input type="checkbox" id="ingreidente7" name="ingrediente7" value="cebolla">
            <label for="ingreidente7">Cebolla</label><br>

            <br> <br>

            <button>Guardar plato</button>
        </form>

</div>

</body>
</html>