<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Plato</title>
</head>
<body>
    <a href="index">Volver al menu</a> <a href="formulario">Crear plato</a>
    <h1>Formulario para crear un plato</h1>

        <form action="/datos" method="post">

            <p>Nombre del plato:</p>
            <input name="nombre" type="text" placeholder="nombre">

            <p>Precio del plato:</p>
            <input name="precio" type="number" placeholder="precio" step="0.01">

            <p>Elige el tipo de plato</p>

            <select name="tipo">
                <option value="PRIMERRO">Primero</option>
                <option value="SEGUNDO">Segundo</option>
                <option value="POSTRE">Postre</option>
            </select>

            <br> <br>

            <button>Guardar plato</button>
        </form>
</body>
</html>